In [11]:
import yfinance as yf
import pandas as pd

# Load Bitcoin data (BTC-USD is the ticker for Bitcoin on Yahoo Finance)
bitcoin = yf.Ticker("BTC-USD")
bitcoin_data = bitcoin.history(start="2010-01-01")

# Keep only necessary columns (Open, High, Low, Close, Volume)
bitcoin_data = bitcoin_data[['Open', 'High', 'Low', 'Close', 'Volume']]

# Replace missing values with previous row's value (forward fill)
bitcoin_data.fillna(method='ffill', inplace=True)

# Reset index to make 'Date' a column (since it's currently the index)
bitcoin_data.reset_index(inplace=True)

# Convert datetime to date (removes time component)
bitcoin_data['Date'] = bitcoin_data['Date'].dt.date

# Reorder columns to have Date first
bitcoin_data = bitcoin_data[['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]

# Save to CSV file
bitcoin_data.to_csv("cleaned_bitcoin_price_2010_to_present.csv", index=False)
print("Bitcoin data from 2010 to present saved to cleaned_bitcoin_price_2010_to_present.csv")

bitcoin_data.head()

Bitcoin data from 2010 to present saved to cleaned_bitcoin_price_2010_to_present.csv

/var/folders/j0/w_nkzt051mn4tt9zkz40drc80000gp/T/ipykernel_66506/2183450789.py:12: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bitcoin_data.fillna(method='ffill', inplace=True)

         Date        Open        High         Low       Close    Volume
0  2014-09-17  465.864014  468.174011  452.421997  457.334015  21056800
1  2014-09-18  456.859985  456.859985  413.104004  424.440002  34483200
2  2014-09-19  424.102997  427.834991  384.532013  394.795990  37919700
3  2014-09-20  394.673004  423.295990  389.882996  408.903992  36863600
4  2014-09-21  408.084991  412.425995  393.181000  398.821014  26580100

In [12]:
bitcoin_data.tail()

,Date,Open,High,Low,Close,Volume
3865,2025-04-17,84030.671875,85449.070312,83749.750000,84895.750000,21276866029
3866,2025-04-18,84900.187500,85095.046875,84298.882812,84450.804688,12728372364
3867,2025-04-19,84450.867188,85597.703125,84353.460938,85063.414062,15259300427
3868,2025-04-20,85066.070312,85306.382812,83976.843750,85174.304688,14664050812
3869,2025-04-22,87514.007812,87600.320312,87190.953125,87190.953125,39649406976